.header {
    max-width: 100%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    /* background-color: rgb(180, 97, 180); */
    background-color: black;
    color:white;
    max-height: 90px;
  }

  .img{
    margin-top: 20px;
    height: 80%;

  }

  .logo {
    justify-content: left;
    width: 48%;
    margin-left: 1rem;
  }

  .links {
    width:48%;
    margin-right: 1rem;
    margin-top: 37px;
    margin-bottom: 37px;
  }
  
  .list {
    justify-content: right;
    display: flex;
    gap: 1rem;
  }
  
  .list a {
    text-decoration: none;
    color:grey;
  }
  
  a:hover {
    font-weight: bolder;
  }
  /* a.active {
    /* color: var(--color-primary-800); */
    
  